#body {
  background-color: #87cefa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

#title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

#main-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#instructions {
  width: 30%;
  background-color: tomato;
  border-radius: 4.5px;
  margin-left: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
